<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  {% seo %}
  
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/logo/logo.svg' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/logo/logo.svg' | relative_url }}">
  
  <link rel="stylesheet" href="{{ '/assets/css/modern.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/3d-modern.css' | relative_url }}">
  
  {% feed_meta %}
</head>
<body>
  {% include header.html %}
  
  <main class="main-content">
    {{ content }}
  </main>
  
  {% include footer.html %}
    {% include cookie-consent.html %}
</html>
